html {
    overflow-y: hidden !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#root {
    flex: 1 0 auto;
}

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "bulma";
